.App{
  overflow-x: hidden;
}

.texture{
  width: 100%;
  height: 850px;
  left: 0px;
  top: 0px;

  background: url(../../keldicoff/src/images/texture.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.wrapper{
  width: 100%;
  height: 900px;
  position: relative;
  overflow: hidden;
}

.bgvideo{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.97;
}

.font{
  background-image: url(../../keldicoff/src/images/font.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}

.map{
  height: 600px;
}